<nav class="navbar navbar-default navbar-fixed-top navbar_petun">
	<div class="container-fluid">
		<a class="navbar-brand navbar-brand_petun" href="#">
			{{#if @blog.logo}}<a href="{{@blog.url}}"><img class="logo_petun" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
		</a>
	</div>
</nav>



<!--

<div role='banner' class="header_petun">
	<h1 class="blogtitle_petun">
		<a title="{{@blog.title}}" href='{{@blog.url}}'>
		{{{@blog.title}}}
		</a>
	</h1>
	<p class="blogdescription_petun">
		<a title="{{@blog.title}}" href='{{@blog.url}}'>
			{{@blog.description}}
		</a>
	</p>
</div>
<nav>{{navigation}}</nav>
-->